*,
::after,
::before {
  box-sizing: border-box;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  box-sizing: border-box;
  color: #333333;
}
.btn-primary {
  background-color: #4a90e2 !important;
  color: #fff;
  border-color: #007bff;
}

.header {
  width: 100%;
  height: 70px;
  padding: 4px 30px;
  background-color: #000000;
}

.header .nav-item {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

.header-left-nav {
  float: left;
  display: flex;
}

.header-log {
  font-size: 33px;
  color: #fff;
  font-family: "Chalkduster", sans-serif;
}

.header-left-nav form {
  display: inline-block;
}

.header-sharch {
  position: relative;
}

.d-lg-inline-block {
  display: inline-block !important;
}

.header-left-nav .form-control {
  width: 180px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  padding-left: 30px;
}

.header i {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
}

.fa-map-marker-alt:before {
  content: "\f3c5";
}

.fa-search:before {
  content: "\f002";
}

.fa,
.fas {
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}

.header-right-nav {
  float: right;
}

.host-icon {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50px;
}

.header-nav-menu {
  background-color: #fff;
  border: 3px solid #f6f8f9;
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px;
  z-index: 1000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  margin-top: 64px;
  padding-top: 90px;
  background-color: #111;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

.top .top-main {
  background-image: url(/assets/top.jpeg);
  background-size: cover;
  width: 100%;
  height: 650px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.top .form-fream {
  height: 650px;
  display: flex;
  align-items: center;
}

.top .form-area {
  background: #fff;
  padding: 24px;
  border-radius: 5px;
}

.top .form-area-title {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1px;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.m-5 {
  margin: 3rem !important;
}

.link {
  text-decoration: none;
  color: white;
}
.top .section-title {
  font-size: 24px;
  margin: 35px 0;
  font-weight: bold;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.top span {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  color: #fff;
  -webkit-text-stroke: 1px gray;
  font-weight: bold;
  z-index: 1;
  margin: auto;
  text-align: center;
  font-size: 24px;
}

.top .panel-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 25px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.device {
  padding-top: 36px;
  font-size: 16px;
}

.device_frame {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(21, 27, 38, 0.15) 0px 1px 3px 0px;
}

.device p {
  font-size: 16px;
}

.device_inner {
  width: 360px;
  margin: 0px auto;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.required-b::before {
  content: "必須";
  color: #fff;
  background-color: #ff0000;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

h5 {
  color: red;
  padding-top: 80px;
}
