body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  box-sizing: border-box;
  color: #333333;
}
.btn-primary {
  background-color: #4a90e2 !important;
  color: #fff;
  border-color: #007bff;
}

.header {
  width: 100%;
  height: 70px;
  padding: 4px 30px;
  background-color: #b8cde7;
}

.header .nav-item {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

.header-left-nav {
  float: left;
  display: flex;
}

.header-log {
  font-size: 33px;
  color: #fff;
  font-family: "Chalkduster", sans-serif;
}

.header-log img {
  width: 250px;
}

.header-left-nav form {
  display: inline-block;
}

.header-sharch {
  position: relative;
}

.header-left-nav .form-control {
  width: 180px;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  padding-left: 30px;
  border-radius: 8px;
}

.header i {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 18px;
  transform: translateY(-50%);
  color: #111;
}

.fa-map-marker-alt:before {
  content: "\f3c5";
}

.fa-search:before {
  content: "\f002";
}

.header-right-nav {
  float: right;
}

.host-icon {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 50px;
}

.header-nav-menu {
  background-color: #fff;
  border: 3px solid #f6f8f9;
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px;
  z-index: 1000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  margin-top: 64px;
  padding-top: 90px;
  background-color: #b8cde7;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

.top .top-main {
  background-image: url(/assets/埼玉県.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.top-main .container p.text-center.top-title span.big {
  font-size: 2.5rem;
  font-weight: bold;
}

.top-main .container {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}
.top .section-title {
  font-size: 24px;
  margin: 35px 0;
  font-weight: bold;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.top .row span {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  color: #b8cde7;
  -webkit-text-stroke: 2px #111;
  font-weight: bold;
  z-index: 1;
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック";
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(1px);
}

.top .panel-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 25px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.device {
  padding-top: 36px;
  font-size: 16px;
}

.device_frame {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(21, 27, 38, 0.15) 0px 1px 3px 0px;
}

.device p {
  font-size: 16px;
}

.device_inner {
  width: 360px;
  margin: 0px auto;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

.required-b::before {
  content: "必須";
  color: #fff;
  background-color: #ff0000;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

h5 {
  color: red;
  padding-top: 80px;
}
